{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h3 class="mb-0 text-center">
                        Réinitialisation de votre mot de passe
                    </h3>
                </div>
                {{ form_start(form) }}
                    <div class="card-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="card-footer bg-transparent">
                        <button type="submit" class="btn btn-block btn-primary">Valider</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

