<mjml>
  <mj-body background-color="#fff">
    <mj-section padding-bottom="0px" padding-top="0">
      <mj-column>
        <mj-text align="center" font-size="10px" font-family="Tahoma, Geneva, Verdana, sans-serif"><a href="https://media.mathieumargotin.fr" color="#db910e"><u>media.mathieumargotin.fr</u></a></mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#f5fdff" padding-bottom="0px" padding-top="30px" border-top="10px solid #BAF6FF">
      <mj-column>
        <mj-text align="center" color="#0abde3" font-size="30px" font-family="Tahoma, Geneva, Verdana, sans-serif" font-weight="bold">Hello !</mj-text>
        <mj-spacer></mj-spacer>
        <mj-text align="left" color="#4B4B4B" font-size="20px" font-family="Tahoma, Geneva, Verdana, sans-serif">Alors comme ça on ne se souvient plus de son mot de passe ?</mj-text>
        <mj-text align="left" color="#4B4B4B" font-size="20px" font-family="Tahoma, Geneva, Verdana, sans-serif"><u>Clique sur le lien suivant pour le réinitialiser</u> :</mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#f5fdff" padding-left="30px" padding-right="30px" padding-top="0">
      <mj-column border-left="2px solid #BAF6FF">
        <mj-text align="left" color="#4B4B4B" container-background-color="#fff" font-size="16px" font-family="Tahoma, Geneva, Verdana, sans-serif">{{ link }}</mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#f5fdff" padding-top="0" padding-bottom="20px">
      <mj-column>
        <mj-divider border-color="#BAF6FF" width="50%"></mj-divider>
        <mj-text align="left" color="#4B4B4B" font-size="16px" font-family="Tahoma, Geneva, Verdana, sans-serif">Vite !! Le lien s'autodétruira dans 15 minutes !!</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>